<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>BLUSpellBook</title>
	<!-- jQuery/Javascript BS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<!-- Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script type="text/javascript">
		$(function () {
		  $('[data-toggle="popover"]').popover({
		  	trigger:'hover',
		  	placement:'top'
		  })
		})
	</script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blu_app/css/style.css' %}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
	<div class="container">
		<h2 style="text-align:center;padding-top:20px; padding-bottom:20px; background-color:black; color:white; text-align: center; display:block; width:100%">{% load static %}<img src="{% static 'blu_app/css/blu_icon.png' %}">XIV BLU Spellbook {% load static %}<img src="{% static 'blu_app/css/blu_icon.png' %}">
		</h2>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/spells">Spells<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Party Role Tips
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Basics</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">DPS</a>
		          <a class="dropdown-item" href="#">Tank</a>
		        </div>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Trial Tips
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Titan(HM)</a>
		          <a class="dropdown-item" href="#">Ramuh(HM)</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li>
		    </ul>
		  </div>
		</nav>
		<div class="dropdown show">
		  <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Sort Spells By
		  </a>

		  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		    <a class="dropdown-item" href="/spells">All</a>
		    <a class="dropdown-item" href="/spells/Fire">Fire</a>
		    <a class="dropdown-item" href="/spells/Water">Water</a>
		    <a class="dropdown-item" href="/spells/Wind">Wind</a>
		    <a class="dropdown-item" href="/spells/Ice">Ice</a>
		    <a class="dropdown-item" href="/spells/Lightning">Lightning</a>
		    <a class="dropdown-item" href="/spells/None">Unaspected</a>
		    <a class="dropdown-item" href="/type/Magic">Magic</a>
		    <a class="dropdown-item" href="/type/Physical">Physical</a>
		    <a class="dropdown-item" href="/level">Min. Lvl Learned</a>
		  </div>
		</div>
		<table cellspacing="0" id="spells" class="table-responsive">
			<tr id="header">
				<td><p>#</p></td>
				<td><p>Spell</p></td>
				<td><p>Lowest Source Lvl.</p></td>
				<td><p>Acquisition</p></td>
				<td><p>Type</p></td>
				<td><p>Element</p></td>
				<td><p>Description</p></td>
			</tr>
			{% for spell in spells %}
				{% if spell.element == "Fire" %}
				<tr style="background-image: linear-gradient(#C42D2D,#EA6868,#F09B9B)"data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% elif spell.element == "Water" %}
				<tr style="background-image: linear-gradient(#3380FF,#33D1FF,#C5F2FF)" 	data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% elif spell.element == "Earth" %}
				<tr style="background-image:linear-gradient(#EAB117,#F3C64D,#F5D581)" data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% elif spell.element == "Lightning" %}
				<tr style="background-image: linear-gradient(#921DC8,#C366EE,#DCA2F7)" data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% elif spell.element == "Ice" %}
				<tr style="background-image: linear-gradient(#B0FBD9,#69AE8F,#016135)" data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% elif spell.element == "Wind" %}
				<tr style="background-image: linear-gradient(#D4FFCF,#6AFC59)" data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% elif spell.spell_type == "Physical" %}
				<tr style="background-image: linear-gradient(#FFFFFF,#888888,#3D3D3D)" data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% else %}
				<tr style="background-image: linear-gradient(#FFFFFF,#B2FA95,#E651FE)" data-toggle="popover" data-content="{{spell.name}}: Cast Time - {{ spell.cast_time }}s | Recast Time - {{spell.recast_time}}s | MP Cost(Lv.50) - {{spell.mp_cost}} | Cast Range - {{spell.cast_range}}y | Cast Radius - {{spell.cast_radius}}y">
				{% endif %}
					<td><p>No.{{spell.id}}</p></td>
					<td>
						<table>
							<tr><p class="spell_icon">{% load static %}<img src='{% static spell.icon %}'></p></tr>
							<tr><p style="color:blue;">{{spell.name}}</p></tr>
						</table>
					</td>
					<td><p>{{spell.lvl_learned}}</p></td>
					{% if spell.acquisition != null %}
					<td><p>{{spell.acquisition}}</p></td>
					{% elif spell.monsters != null %}
					<td><table>
						{% for monster in spell.monsters.all %}
						<tr><a href={{monster.link}}>{{monster.name}}({{monster.level}})</a><br></tr>
						{% endfor %}
					</td></table>
					{% else %}
					<td><p>Acquistion Needed.</p></td>	
					{% endif %}
					<td><p>{{spell.spell_type}}</p></td>
					{% if spell.spell_type == "Magic" %}
						<td><p>{{spell.element}}</p></td>
					{% else %}
						<td><p>{{spell.phys_type}}</p></td>
					{% endif %}
					<td><p class="desc">{{spell.desc}}</p></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>